@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');

body{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
a {
	text-decoration: none;
	outline: none;
}
ul {
	padding-left: 0;
}
li {
	list-style: none;
}
* {
	box-sizing: border-box;
}
::selection {
	background-color: #333;
	color: #fff;
}
input[type="sumbit"]:focus{
	outline: none !important;
}


/* ==================================== */
/*		  	  Navigaton Menu		
/* ==================================== */

.menu-wrap {
	background-color: #333;
	position: fixed;
	top: 0;
	height: 100%;
	width: 25%;
	margin-left: -25%;
	font-size: 1em;
	font-weight: 700;
	overflow: hidden;
	transition: .25s;
	z-index: 13;
}
.menu-show {
    margin-left: 0;
    box-shadow: 1px 1px 8px 0px #000;
}
.menu-sidebar {
	margin: 25px 0px 60px 0px;
	position: relative;
	top: 70px;
}

/*Teader Text*/
header{
	text-align: center;
	color:#fff;
	background: #242729;
	text-transform: uppercase;
	padding: 5px 0px; 
	position: sticky;
	top: 0;
	z-index:9; 
}


/*Hamburger Button*/
.toggle-button {
	position: fixed;
	width: 44px;
	height: 40px;
    top: 25px;
    left: 2%;
	padding: 4px;
	transition: .3s;
	z-index: 15;
}
.toggle-button:hover {
	cursor: pointer;
}
.toggle-button .menu-bar {
	position: absolute;
	border-radius: 2px;
	width: 80%;
	transition: .5s;
}
.toggle-button .menu-bar-top {
	border: 1px solid #b5b5b5;
	border-bottom: none;
	top: 0;
}
.toggle-button .menu-bar-middle {
	height: 1px;
	background-color: #b5b5b5;
	margin-top: 5px;
    margin-bottom: 5px;
	top: 4px !important;
}
.toggle-button .menu-bar-bottom {
	border: 1px solid #b5b5b5;
	border-top: none;
	top: 18px;
}



.button-open .toggle-button {
	left: 21.7%;
}
.button-open .menu-bar-top {
	border-color: #fff;
	transform: rotate(45deg) translate(5px, 5px);
	transition: .5s;
}
.button-open .menu-bar-middle {
	background-color: #fff;
	transform: translate(230px);
	transition: .1s ease-in;
	opacity: 0;
}
.button-open .menu-bar-bottom {
	border-color: #fff;
	transform: rotate(-45deg) translate(8px, -8px);
	transition: .5s;
}



/* Text Block */
.wrapper {
	width: 100%;
	margin:0 auto ;
	color: #83828D;
}
.wrapper .text {
	padding: 30px;
}
.wrapper .text .heading {
	margin-bottom: 40px;
	font-size: 2em;
}
.wrapper .text p {
	line-height: 1.6em;
}
.wrapper .text .buttons {
	margin-top: 40px;
}

/* Buttons */
.wrapper .buttons .button {
	display: inline-block;
	margin-right: 20px;
	padding: 20px 25px;
	border-radius: 2em;
	background-color: #70CE64;
	color: #fff;
	font-size: .9em;
	font-weight: 700;
	transition: background-color .3s;
}
.wrapper .buttons .button-secondary {
	background-color: #FF6746;
}
.wrapper .buttons .button-primary:hover {
	background-color: #84D07A;
}
.wrapper .buttons .button-secondary:hover {
	background-color: #FF7D60;
}

/*Active state for the buttons*/
.wrapper .buttons .button-primary:active {
	background-color: #70CE64;
}
.wrapper .buttons .button-secondary:active {
	background-color: #FF6746;
}

/*Icons*/
.wrapper .buttons .button span {
	position: relative;
	display: inline-block;
	padding-right: 20px;
}
.wrapper .buttons .button span::after {
	position: absolute;
	font-family: "FontAwesome";
	right: -3px;
	font-size: 14px;
	top: 0;
	transition: top .3s, right .3s;
}
.wrapper .buttons .button-primary span::after {
	content: "\f019";
}
.wrapper .buttons .button-secondary span::after {
	content: "\f178";
}
/*Slight icons animation*/
.wrapper .buttons .button-primary:hover span::after {
	top: 4px;
}
.wrapper .buttons .button-secondary:hover span::after {
	right: -6px;
}

.menu-name{
    width: 44px;
    height: 40px;
    top: 50px;
    left: 40px;
    padding: 4px;
    transition: .3s;
    z-index: 15;
}
.topnav {
	padding: 0.3% 0% 1.1%;
	background-color: #2f3335;
	overflow: hidden;
	position: sticky;
	z-index: 8;
	top: 0;
    width: 100%;
    height: 72px;
}

/* Style the links inside the navigation bar */
.topnav a {
	/*float: left;*/
	color: #b5b5b5;
	/*text-align: center;
	padding: 7px 56px;*/
	text-decoration: none;
	font-size: 20px;
}

.topnav a:hover{
	color:#fff;
}

span.toggle-button::after {
    content: 'menu';
    position: fixed;
    left: 5.5%;
    font-size: 18px;
    text-transform: uppercase;
    transition: .3s ease-out;
    color:#fff;
	    margin-top: -5px;
}
span.toggle-button.clicked::after {
    content: '';
}

.icons-links ul li i {
    font-size: 1.8em;
}

.icons-links ul{
	margin:0;
}
.icons-links ul li a{
    color:#fff;
}

.icons-links ul li:last-child {
    margin-right: 0px;
}
.icons-links ul li {
    display: inline;
    margin-right: 10px;
}
.icons-links {
    float: right;
    display: block;
    position: fixed;
    top: 22px;
    right: 20px;
    z-index: 99;
}
/*
i.fa.fa-search {
    transform: rotate(270deg);
}
*/

/* VIDEO SLIDER */

#video_slider{
	object-fit: cover;
    min-width: 100%;
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}


#pol-right {
    font-weight: 100;
    color: #fff;
    padding: 5rem 2rem 2rem 0rem;
    width: 45%;
    margin: 1rem 1rem 1rem 0rem;
    float: right;
    text-align: justify;
    font-size: 1.2rem;
    display: block;
	background: #101010a3;
    padding: 38px;
    padding-bottom: 48px;
    padding-top: 18px;
    border-radius: 3px;
}

#pol-left {
    font-weight: 100;
    color: #fff;
    padding: 5rem 0rem 2rem 2rem;
    width: 45%;
    margin: 1rem 0rem 1rem 1rem;
    float: left;
    text-align: justify;
    font-size: 1.2rem;
    display: block;
    margin-right: 0rem;
	background: #101010a3;
    padding: 38px;
    padding-bottom: 48px;
    padding-top: 18px;
    border-radius: 3px;
}

#pol {
    font-weight: 100;
    color: white;
    padding: 2rem;
    width: 50%;
    margin: 12rem 2rem;
    float: right;
    text-align: center;
    font-size: 1.2rem;
}

.pol-bg {
   position: absolute;
    top: 10% !important;
    height: inherit;
    padding: 0px 45px;
    width: 100%;
    right: 0;
}

#pol h1 ,#pol-right h1 , #pol-left h1 {
	font-size: 2.5rem;
	text-transform: uppercase;
	margin: 1rem 0rem 2rem 0rem;
	font-weight: 100;
}

#pol h1 {
    padding: 0rem 6rem;
}

#pol h3 , #pol-right h3 , #pol-left h3 {
	text-transform: uppercase;
	font-weight: 100;
	padding-bottom: 20px;
}
a.btn-link { 
	color: #fff;
    padding: 10px 80px;
    border: 1px solid #fff;
    border-radius: 3px;
    position: inherit;
    transition: 0.3s ease-in-out;

}
a.btn-link:hover { 
	color: #333;
    background: #fff;
}
hr.small {
    width: 12%;
    border-width: 0.5px;
    border-color:#4e5153;
}

.nav-top {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
}

a.link-logo img {
    width: 14%;
    position: absolute;
    z-index: 30;
    left: 44%;
    top: 9%;
}

.overlay-page{
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.8);
	z-index:305;
}


/*--Swiper Items--*/


a.btn-link-page { 
	color: #fff;
    padding: 10px 80px;
    border: 1px solid #fff;
    border-radius: 3px;
    position: inherit;
    transition: 0.3s ease-in-out;

}
a.btn-link-page:hover { 
	color: #333;
    background: #fff;
}


.item-products{
	height: 100%;
    z-index: 300;
    background-image: url(http://vuniks.com/vuniks/wp-content/uploads/2019/04/gift_nature-1.jpg);
    background-size: cover;
    position: relative;
}

.container {
	padding:50px;
	height: inherit;
}

.container-inner {
	padding: 20px;
	height: inherit;
}


.swiper-container {
      width: 100%;
      height: 70vh;

    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #242729;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      padding: 0px 50px;
    }

.container-inner h1 {
    text-align: center;
    color: black;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 40px;
}

.swiper-slide .item-details img {
    width: 70%;
}

.item-details a {
    color: #fff;
    display: block;
    text-transform: uppercase;
    padding: 4px;
}

.item-details p{
 	color: #fff;
    display: block;
    padding: 20px 4px 10px 4px;
}

.vuniks-product a.product-link, .vuniks-product .category-link{
	display: block;
}

.product-link {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
}

.category-link{
    color: #bbb;
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
}

p.comming-soon {
    font-size: 20px;
    color: #fff;
}




.item-details .category-link {
    color: #bbb;
}

a.btn-item-link {
    /* font-size: 16px; */
    font-size: 1rem;
    line-height: 16px;
    background: #6a6d6e;
    background: linear-gradient(135deg,#6a6d6e,#4e5153);
    border: 0;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 15px 30px;
    text-transform: none;
}

a.btn-item-link:hover{
	background: linear-gradient(135deg,#4e5153,#6a6d6e);
    color: #ececec;
}

section.overlay-bg h1 {
    font-size: 3em;
    font-weight: 300;
}

section.overlay-bg p {
    font-size: 18px;
}


.about-philosophy {
    color: #fff;
    font-weight: 100;
}





/*Contact Email Homepage*/

.contact-email{
	height: 100%;
    z-index: 300;
    background-color: #242729;
    position: relative;
    background: url(http://vuniks.com/vuniks/wp-content/uploads/2019/04/image_contact-1.jpg);
    background-size: cover;
    background-position: center;
    padding: 5% 0%;
}

.contact-email * {
    position: relative;
}


.overlay-bg {
  position: relative;
}

.overlay-bg:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:0;
  background-color: rgb(51, 51, 51, 0.5);
}

.row {
	display: flex;
    padding: 0% 5%;
    margin: 0 auto;
}

.column {
	flex: 50%;
	padding: 10px;
	height: 100%;
}

.form-md { 
        float: left; 
        width: 100%; 
        text-align: center; 
        margin: 30px auto 30px auto; 
    }
.form-md .form-group {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}
.form-group {
    margin-bottom: 15px;
    position: relative;
}
input#form_name2 {
    position: relative;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #DDD;
    background-color: transparent;
    margin: 0px auto;
    padding: 30px 0px 20px 0px;
    height: 32px;
    outline: none !important;
    font-size: 20px;
    color: #51BBBE;
    background: -webkit-linear-gradient(bottom, #51BBBE 50%, #51BBBE 50%);
    background: linear-gradient(to top, #51BBBE 50%, #51BBBE 50%);
    background-position: left bottom;
    background-size: 0 1px;
    background-repeat: no-repeat;
    transition: all .4s ease-in-out;
    caret-color: #51BBBE;
}

label.form_name2 {
    position: absolute;
    top: 0; 
    left: 0;
    text-align: left;
    display: block;
    width: 100%;
    height: 52px;
    line-height: 60px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 200;
    background: transparent;
    color: #ddd;
    margin: 0px auto;
    cursor: text;
    transition: all .15s ease-in-out;
}
input#form_name2:focus { 
    border-color: #51BBBE; 
}
input#form_name2:focus { 
    background-position: left bottom;
    background-size: 100% 1px;
}
input#form_name2:valid + label.form_name2, input#form_name2:focus + label.form_name2 { 
    height: 20px; 
    line-height: 0px; 
    font-size: 11px;
    color: #51BBBE;
}
.form_name2 span {
    color: #f00;
    font-size: 20px;
}

input.btn-submit {
    /* font-size: 16px; */
    font-size: 1rem;
    line-height: 16px;
    background: #6a6d6e;
    background: linear-gradient(135deg,#6a6d6e,#4e5153);
    border: 0;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 15px 30px;
    text-transform: none;
    display: block;
    margin: 0 auto;
}

input.btn-submit:hover{
	background: linear-gradient(135deg,#4e5153,#6a6d6e);
    color: #ececec;
}
input.btn-submit:focus {
    outline: none;
}

.email-details h2 {
    color: #ddd;
    font-weight: 200;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}

.email-details p {
    text-align: center;
    color: #ddd;
    padding: 15px 0px;
}

.email-details p span {
    text-decoration: underline;
}

p.details-right {
    text-align: left;
    padding-top: 0;
    margin-top: 0 !important;
}

form p {
    padding: 0 !important;
}

.image-bg{
	height: 100%;
    z-index: 300;
    background-color: #242729;
    position: relative;
    background: url(http://vuniks.com/vuniks/wp-content/uploads/2019/01/abstract-blue-concrete-34090-hd.jpg);
    background-size: cover;
    background-position: center;
    padding: 2% 0%;
}

.image-bg * {
    position: relative;
}

.circle-container {
  margin: 0px auto;
  max-width: 30.5%;
  width: 94%;
  text-align: center;
}

.circle {
  position: relative;
  display: block;
  margin: 2em 0;
  background-color: transparent;
  color: #222;
  text-align: center;
}

.circle:after {
  display: block;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #fff;
  content: "";
}

.circle__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circle__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.circle__content {
  display: table-cell;
  padding: 1.5em;
  vertical-align: top;
}
/*
@media (min-width: 480px) {
  .circle__content {
    font-size: 2em;
  }
}

@media (min-width: 768px) {
  .circle__content {
    font-size: 4em;
  }
}*/
.circle__content h1 span {
    font-size: 2.5em;
    font-weight: 300;
}
.circle__content h1 {
    font-weight: 200;
    font-size: 2em;
    text-transform: uppercase;
    line-height: 55px;
}

.circle__content .easy-autocomplete {
    margin: 0 auto;
    width: 300px;
}

#country-item{
	width: 300px;
	border-radius: 5px;
	padding:10px 10px;
	transition: 0.3s ease-in-out;
	border: 1px solid #aaa;
}

#country-item:focus{
	outline: none;
	padding-left: 25px;
}

.circle__content .eac-item img {
    width: 55px;
    float: left;
    padding: 7px;
}
.circle__content .eac-item span {
    color: #888;
}

.circle__content .easy-autocomplete-container ul li{
    font-size: 23px;
}

.circle__content .easy-autocomplete-container ul li .eac-item {
    text-align: left;
}


.icons-bg {
    height: 100%;
    z-index: 298;
    background-color: #242729;
    position: relative;
    background: #fff;
    background-size: cover;
    background-position: center;
    padding: 2% 0%;
    border-bottom: 1px solid #ddd;
}

.social-media {
    margin: 0 auto;
    display: block;
    vertical-align: middle;
    position: relative;
    text-align: center;
}

.social-media ul li {
    padding: 0px 10px;
}

.social-media h3{
	text-transform: uppercase;
}

.social-media h3, .social-media ul {
    display: inline;
    text-align: center;
    color: #333;
    font-weight: 300;
}
.social-media ul li,.social-media ul li .icon-item-bg{
	display: inline;
}

.icon-item-bg i.fa {
    font-size: 2em;
    background: #333;
    color: #fff;
    padding: 7px 7px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
   
}
.icon-item-bg i.fa:hover {
    opacity: 0.8;
}


.widget-links{
    height: 100%;
    z-index: 298;
    background-color: #242729;
    position: relative;
    background: #fff;
    background-size: cover;
    background-position: center;
    padding: 2% 0%;
}

.sub-links {
    display: block;
    margin: 0 auto;
    position: relative;
    vertical-align: middle;
    text-align: center;
}

.links-list a{
	color: #000;
	text-decoration: none;
}

.links-list li:hover > a {
    color: #999;
}

.links-list li {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
	margin-right: 35px;
}
.links-list li:last-child {
	margin-right: 0;
}

.links-list li:after {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0px;
	background: transparent;
	margin-top: 3px;
	transition: width .3s ease, background-color .3s ease;
}
.links-list li:hover:after {
	width: 100%;
	background: #333;
	color: #ddd;
}


footer{
    height: 100%;
    z-index: 298;
    background-color: #242729;
    position: relative;
    background: #fff;
    background-size: cover;
    background-position: center;
    padding: 2% 0%;
    border-bottom: 1px solid #ddd;
}
footer img{
	width: 20%;
    display: block;
    margin: 0 auto;
}

#toTop {
    background: rgb(150,150,150,0.6);
    color: #fff;
    position: fixed;
    bottom: 20px;
    right: 30px;
    display: none;
    
    padding: 11px 13px;
    border-radius: 60%;
    z-index: 999;
    transition: 0.3s ease-in-out;
}

#toTop:hover {
    background: #333;
}

a sup {
    font-size: 13px;
    top: -2em;
}

p sup {
    font-size: 10px;
    top: -0.5em;
}

.vuniks-product{
	text-align: justify;
}

.contact-message {
  
}

.contact-message h1{
	color: #ddd;
    font-weight: 200;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}
.contact-message p{
	text-align: center;
    color: #ddd;
    padding: 15px 0px;
}

.contact-message * {
    position: relative;
}

input.your-name, input.your-email, textarea.message-contact {
    width: 100%;
    margin-bottom: 10px;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color:#fff;
    padding: 5px 0px;
    cursor: default;
}

input.your-name:focus, input.your-email:focus, textarea.message-contact:focus {
    outline: none;
}

textarea.message-contact{
	resize: none;
	height: 90px;
}

.contact-message form p {
    display: block;
    width: 90%;
    margin: 0 auto;
}

input.your-name::placeholder, input.your-email::placeholder ,textarea.message-contact::placeholder {
    color: #fff;
}


div.wpcf7-mail-sent-ok {
    border: 2px solid #398f14;
    background: #398f14;
    width: 55% !important;
    margin: 0 auto;
    color: #fff;
    padding: 10px;
    text-align: center;
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
    border: 2px solid #f7e700;
     background: #f7e700;
    width: 55% !important;
    margin: 0 auto;
    color: #333;
    padding: 10px;
    text-align: center;;
}

span.wpcf7-not-valid-tip {
    color: #f00;
    font-size: 1em;
    font-weight: normal;
    display: block;
    font-style: italic;
    float: right;
}

@media only screen and (max-width: 1024px){
	#pol-left , #pol-right {
		font-size: 1.0rem;
		width: 57%;
	}
	#pol h1, #pol-right h1, #pol-left h1 {
		font-size: 1.5rem;
	}
	div#more-content {
		font-size: 1.0rem;
	}
	.pol-bg{
		    padding: 0px 0px;
	}
	.scroll-effect {
		padding: 0px 15px!important;
	}
	.container-inner ul#video-list-group {
		padding: 70px 0px;
	}
	body .vuniks-product img{
		width: 73%;
	}
}


/*Mobile Responive*/
@media only screen and (max-width: 768px){
	
	body div#main-content-slider{
		width: 98%;
	}
	
	#toTop{
	    width: 7%;
        bottom: 10px;
    	right: 10px;
	}
	a.link-logo img{
	    width: 24%;
        left: 39%;
	}
	span.toggle-button::after{
	    left: 7.5%;
	}
	#pol{
		padding: 1rem;
	    margin: 7rem 2rem;
	}
	#pol h1 {
	    padding: 0rem 2rem;
	}
	#pol-left{
		width: 100%;
		margin:0px;
	}
	#pol-right{
	    width: 100%;
		margin:0px;
	}
	section:nth-of-type(4){
	    background-size: cover !important;
	}
	.container {
    	padding: 5px;
    }
    .container-inner {
	    padding: 5px;
	}
	.container-inner h1{
		padding-bottom: 10px;
		margin:10px 0px;
	}
	.row.vuniks-product>.column:first-child {
	    flex: 30%;
	}
	.vuniks-product img {
	    width: 100%;
	}
	.product-link{
	    font-size: 30px;
	}
	a.product-link sup {
	    top: -1.5em;
	}
	div#contact-message-section .row {
	    display: block;
	}
	.icon-item-bg i.fa{
		width: 7%;
	    font-size: 1.5em;
	}
	div.wpcf7-validation-errors, div.wpcf7-acceptance-missing,div.wpcf7-mail-sent-ok{
		width: 100% !important;
	}
	
}
@media only screen and (max-width: 425px){
	body ul.slider__nav {
		position: fixed;
		z-index: 99;
		display: block;
		bottom: 39%;
		left: -28px;
		margin: 6px 22px;
	}
	body li.slider__nav-item.js-slide-lnk{
		    font-size: .525rem;
	}
	.menu-sidebar {
	    margin: -20px 0px 60px 0px;
	}
	body div#more-content {
		display: inline-block;
		padding: 0px;
		padding-top: 20px;
	}
	ul.criteria_product li:after{	
		display:none;
	}
	body div#more-content > div {
		padding: 14px;
	}
	ul#video-list-group.animate_video li {
		text-align: center;
	}
	body div#text_video {
		display: none!important;
	}
	body .vuniks-product img {
		width: 100%;
		padding: 0!important;
	}
	a.btn-link-page {
		padding: 12px 33px;
		width: 100%!important;
		display: block;
		font-size: 18px;
		text-align: center;
	}
	.pol-bg {
		padding: 0 10px;
	}
	section:nth-of-type(4){
		background-size: cover !important;	
	}
	.topnav {
	    height: 54px;
	}
	.nav-top{
		width: 100%;
	}
	header{
		font-size:12px;
		position: static;
	}
	.toggle-button{
		top: 15px;
	}
	.toggle-button.clicked{
		top: 25px;
	}
	.toggle-button .menu-bar{
		width: 60%;
	}
	span.toggle-button::after{
	    left: 9%;
	    display: none;
	}
	a.link-logo img {
	    width: 33%;
	    left: 33%;
	    top: 20%;
	}
	.icons-links{
	    top: 14px;
    	right: 4px;
	}
	.icons-links ul li {
	    margin-right: 4px;
	    font-size: 10px;
	}
	#pol {
	    padding: 0;
	    width: 100%;
	    margin: 6rem 0;
	    float: left;
	    font-size: 1.2rem;
	}
	.image-bg {
	    height: 85vh;
	}
	.circle-container {
        max-width: 100%;
	}
	.scroll-effect a.scroll span{
		left: 51%;
	}
	#pol-left{
	    width: 100%;
	        padding: 17px;
	}
	#pol-right{
		    padding: 17px;
    	width: 100%;
	}
	#philosophy #pol-left{
	    width: 100%;
	        padding: 17px;
	}
	#about #pol-right{
		    padding: 17px;
    	width: 100%;
	}
	#pol h1, #pol-right h1, #pol-left h1 {
		margin: 1rem 0rem 0rem 0rem;
	    padding: 0rem 0rem !important;
	}
	#pol-right h1{
		margin: 0rem 0rem 0rem 0rem;
	}
	#pol-left p ,#pol-right p{
	    font-size: 14px;
        margin: 10px 0px;
        font-weight: 300;
	}
	body div#main-content-slider {
		width: 100%;
	}
	.scroll-effect {
		padding: 0px 0px!important;
	}
	#pol-right h1, #pol-left h1{
	    font-size: 28px;
   		font-weight: 300;
	}
	section#philosophy a.scroll span, section#about a.scroll span,
	section#our-products a.scroll span, section#science-vuniks a.scroll span{
		display: none;
	}
	
	.swiper-slide .item-details img {
	    width: 100%;
	}
	.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet{
		margin-bottom: -10px !important;
	}
	.item-details p {
	    padding: 0px 4px 0 4px;
	}
	.row{
		display: block;
	}
	.column{
		flex:100%;
	}
	.icon-item-bg i.fa{
		width: 12%;
	    font-size: 1.5em;
	}
	.social-media ul li {
	    padding: 0px 2px;
	}
	#toTop {
	    right: 18px;
	    padding: 11px 22px;
	}
	#toTop i.fa {
	    margin-left: -7px;
	}
	.links-list li {
	    margin-right: 14px;
	}	
	.vuniks-product img {
	    width: 70%;
	}
	.vuniks-product:nth-child(2) {
	    display: block;
	    margin: 0 auto;
	    text-align: center;
	}
	a.product-link {
	    font-size: 25px;
	}
	a.category-link {
	    font-size: 20px;
	}
	a.btn-link-page{
	   	padding: 7px 30px;
	}
	.container{
		padding: 1px;
	}
	.container-inner h1{
	    padding-bottom: 0px;
	}
	.row.vuniks-product .column p {
	    text-align: justify;
	}
	.container-inner{
		padding: 0;
	}
	a sup {
	    font-size: 11px;
	    top: -1.3em;
	}
}
@media only screen and (max-width: 375px){
	
	#pol-right h1, #pol-left h1 {
	    font-size: 23px;
	}
	.icon-item-bg i.fa{
		width: 14%;
	    font-size: 1.5em;
	}
}
@media only screen and (max-width: 320px){
	#toTop {
	    right: 48px;
	    padding: 11px 22px;
	}
	#pol-left p, #pol-right p {
		font-size: 13px;
	}
	#pol-right h1, #pol-left h1 {
		font-size: 20px;
	}
}

@media (min-width:1920px){
	body #pol-left, #pol-right , div#more-content {
		font-size: 1.5rem;
	}
	body #pol h1, #pol-right h1, #pol-left h1 {
		font-size: 2.5rem;
	}
	section:nth-of-type(2), section:nth-of-type(3), section:nth-of-type(4), 
	section:nth-of-type(5), section:nth-of-type(6), section:nth-of-type(7){
		background-size: cover;
	}
	#toTop {
		padding: 18px;
	}
	i.fa.fa-chevron-up {
	    font-size: 30px;
	}
	.topnav {
	    height: 102px;
	}
	.toggle-button {
	    width: 70px;
	    top: 35px;
	}
	span.toggle-button::after {
	    top: 40px;
	    font-size: 30px;
	}
	.toggle-button .menu-bar-top, .toggle-button .menu-bar-middle, .toggle-button .menu-bar-bottom{
	    border: 3px solid #b5b5b5;	
	}
	.toggle-button .menu-bar-top{
	 	top: 0px ;
	}
	.toggle-button .menu-bar-middle{
	    top: 8px !important;
	}
	.toggle-button .menu-bar-bottom{
	    top: 26px ;
	}
	.icons-links ul li i {
	    font-size: 4.5em;
	}
	.sidebar-menu > li > a ,.sidebar-menu .sidebar-submenu > li > a{
	   	font-size: 32px;
	}
	
	#pol h3, #pol-right h3, #pol-left h3{
		font-size: 2rem;
	}
	#pol a.btn-link {
	    font-size: 40px;
	}
	.scroll-effect a.scroll span{
	    width: 50px;
   		height: 80px;
	}
	
	#pol-left p, #pol-right p {
	    margin: 15px 0px;
	}
	.container-inner h1{
	    font-size: 3.5rem;
	}
	.vuniks-product p {
	    font-size: 1.8rem;
	}
	.email-details h2{
		font-size: 4em;
	}
	.email-details p {
	    text-align: center;
	    color: #ddd;
	    padding: 15px 0px;
	    font-size: 29px;
	}
	input.btn-submit{
	    font-size: 1.8rem;
        padding: 30px 40px;
	}
	input.your-name, input.your-email, textarea.message-contact{
	    margin-bottom: 30px;
	}
	.social-media h3, .social-media ul{
	    font-size: 30px;
	}
	.icon-item-bg>i.fa{
		width: 5.5%;
	    padding: 20px 14px;
	}
	.links-list a{
		font-size: 30px;
	}
	footer p{
	    font-size: 30px;
	}
}
div#item-products .row.vuniks-product .column:nth-child(2){
   
 margin-top: 14px;
    background: #5a5a5a8c;
    padding: 35px;
    color: white;
}


/* start */

div#more-content {
    display: inline-block;
	    padding: 16px;
}
div#more-content > div {
    background: #101010a3;
    color: white;
    padding: 30px;
    border-radius: 3px;
	padding-top: 8px;
}
section.scroll-x-class {
    overflow-x: scroll;
}
ul#flow-effect {
    margin: auto;
    text-align: center;
    margin-bottom: 8%;
}
ul#flow-effect li {
    margin: auto;
    font-weight: 300;
}
ul#flow-effect li span {
   border: 1px solid #272727;
    width: fit-content;
    padding: 22px;
    color: white;
    background: #101010a3;
    border-radius: 16px;
    display: inline-block;
}
ul#flow-effect li:after {
    content: "";
    border: 1px solid #101010a3;
    display: block;
    width: 0;
    margin: auto;
    height: 45px;
}

ul#flow-effect li:last-child:after {
    display: none;
}
div#main-content-slider {
      
    width: 100%;
    background: none;
}
div.class_flow_root{
	display: flow-root;
}
div.class_grid{
	display: grid;
}
i.fa.fa-angle-double-up {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 34px;
}
i.fa.fa-angle-double-up {
        display: block;
    margin: 30px;
    margin-top: 0px;
    text-align: center;
    font-size: 31px;
    -ms-transform: scale(1.6, 1);
    -webkit-transform: scale(1.6, 1);
    transform: scale(1.6, 1);
    cursor: pointer;
}

i.fa.fa-angle-double-up {
	
    -webkit-animation: animate_arrow 0.5s infinite;
    -webkit-animation-delay: 2s;
    animation: animate_arrow 1.5s infinite;
    position: relative;
    top: 13px;
	opacity:.8;
    display: inline;
}

@-webkit-keyframes animate_arrow {
	
    100% { top:  -5px;opacity:0;  }
}

@keyframes animate_arrow {

    100% { top:  -5px; opacity:0; }
}
ul.criteria_product {
    display: block;
    margin: auto;
    text-align: center;
	margin-bottom: 40px;
}

ul.criteria_product li {
    width: 190px!important;
    text-align: center;
    color: white;
    display: inline-grid;
    margin-top: 4%;
    margin-left: 26px;
    margin-right: 26px;
}
ul.criteria_product.animate li img {
    -webkit-animation: image_pop 1.0s forwards;
    -webkit-animation-delay: 1s;
    animation: image_pop 1.0s forwards;
    animation-delay: 2.5s;
    width: 0%;
}
@-webkit-keyframes image_pop {
   
    100% { width:100%;  }
}

@keyframes image_pop {
    
    100% { width:100%;  }
}
ul.criteria_product li img {
    width: 100%;
    border-radius: 107px;
    background: #0000002e;
    margin: auto;
}
ul.criteria_product li span {
    font-size: 20px;
    padding-top: 16px;
}
ul.criteria_product.animate li span {
    -webkit-animation: text_animate_criteria 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: text_animate_criteria 1.5s forwards;
    animation-delay: 4s;
    opacity: 0;
	color:#383838;
}
@-webkit-keyframes text_animate_criteria {
   
    100% { opacity:1;  }
}

@keyframes text_animate_criteria {
    
    100% { opacity:1;  }
}
ul.criteria_product li:after {
    content: "";
    width: 56px;
    height: 8px;
    background: #0000002e;
    position: relative;
    right: -190px;
    top: -140px;
}
ul.criteria_product.animate li:after {
    -webkit-animation: animate_link_image 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: animate_link_image 1.5s forwards;
    animation-delay: 4s;
    width: 0;
}
@-webkit-keyframes animate_link_image {
   
    100% { width:56px;  }
}

@keyframes animate_link_image {
    
    100% { width:56px;  }
}
ul.criteria_product li:last-child:after {
    display: none;
}
iframe.fulvideo_vuniks {
    height: -webkit-fill-available;
	
}
ul#video-list-group {
	padding: 70px 17%;
}
ul#video-list-group.animate_video li:nth-of-type(1) {
    animation-delay: .5s;
}
ul#video-list-group.animate_video li {
    -webkit-animation: videopop 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: videopop 1.5s forwards;
    opacity: 0;
	
	   text-align: center;
}

ul#video-list-group.animate_video li:nth-of-type(1)  {
	animation-delay: .5s;
}
ul#video-list-group.animate_video li:nth-of-type(2)  {
	animation-delay: 3s;
}
ul#video-list-group.animate_video li:nth-of-type(3)  {
	animation-delay: 4s;
}
ul#video-list-group.animate_video li:nth-of-type(4)  {
	animation-delay: 5s;
}
ul#video-list-group.animate_video li:nth-of-type(5)  {
	animation-delay: 6s;
}
ul#video-list-group.animate_video li:nth-of-type(6)  {
	animation-delay: 7s;
}
@-webkit-keyframes videopop {
  
    100% { opacity:  1;  }
}

@keyframes videopop {

    100% { opacity:  1;  }
}


ul#video-list-group li {
       margin-bottom: 21px;
    padding: 12px 21px;
}
.list-video {
    position: initial!important;
        width: 473px!important;
    height: 275px;
    transform: none!important;
    -webkit-transform: none!important;
}
div#text_video {
    display: -webkit-inline-box!important;
}
span.dot_video {
    width: 6px;
    height: auto;
    background: white;
    display: -webkit-inline-box;
    margin: auto;
    padding: 5px;
    border-radius: 100px;
    position: relative;
    top: -88px;
    margin-left: 11px;
}
div#text_video p {
    position: relative;
    top: -88px;
    margin-left: 11px;
    display: -webkit-inline-box;
    margin: auto;
    padding: 5px;
	    color: black;
}
.row.vuniks-product .column:nth-child(1) {
    text-align: center;
    color: white;
}
.vuniks-product img {
    width: 47%;
}
ul#video-list-group i.fa.fa-angle-double-up {
    color: white;
}
.content-slideup {
    text-align: center;
}
ul.slider__nav{
    position: fixed;
   z-index: 999;
    display: block;
    bottom: 20px;
    left: 0;
    margin: 6px 22px;
}
li.slider__nav-item.js-slide-lnk {
    color: #000;
    list-style: none;
    position: relative;
    padding: .4375rem 0 .4375rem .9375rem!important;
    font-size: 10px;
    font-size: .825rem;
    line-height: .625rem;
    min-height: 1.5625rem;
}
.slider__nav-item:before {
    content: "";
    display: inline-block;
    position: relative;
    top: -2px;
    transform: translateY(-50%);
    height: 1px;
    width: 1px;
    left: 0;
    background-color: #000;
    border: 1px solid #000;
    margin-right: .5rem;
    transition: all .5s cubic-bezier(.65,-.73,.46,2.1);
    border-radius: 50%;
}
.slider__nav-item.is-active:before {
       background-color: transparent;
    border: 2px solid #000;
    height: 8px;
    width: 8px;
    transform: translate(-4px,3px);
    margin-right: 0;

}
.slider__nav-lnk {
    display: inline-block;
	 color: #000;
    text-transform: uppercase;
}
div#next-arrow {
    position: fixed;
    z-index: 999999999999999;
    
    bottom: 0;
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
}
div#next-arrow i.fa.fa-angle-down {
    font-size: 28px;
    margin-bottom: 14px;
    color: #263710;
    cursor: pointer;
}

i.fa.fa-angle-down{
	 animation:color_changes 5s;
	  -moz-animation:color_changes 5s infinite; /* Firefox */
	-webkit-animation:color_changes 5s infinite;
	
}

@-moz-keyframes color_changes /* Firefox */
{
0%   {color:black; }
30%  {color:gray;}
70%  {color:white;}
100%   {color:gray;}
}
 
@-webkit-keyframes color_changes /* Firefox */
{
0%   {color:black;}
30%  {color:gray;}
70%  {color:white;}
100%   {color:gray;}
}
div#product-list {
    background-image: url(http://vuniks.com/vuniks/wp-content/uploads/2019/05/moisturizers_category-1.jpg);
    background-size: cover;
    background-position-y: -112%;
}
.wc-shortcode-loop .page-content-section {
    background-color: #242729;
}
.wc-shortcode-loop .page-content-section {
    padding: 34px 14%;
}
/* span.price {
    color: #ddd!important;
    font-weight: 200!important;
    text-transform: uppercase;
    text-align: center;
    border-top: 1px solid #ffffff33;
    padding-top: 15px;
    width: 70%;
    margin: auto;
} */
ul.products.columns-3 li {
    margin-bottom: 93px!important;
	text-align:center;
}
/* a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
    font-size: larger;
    font-weight: 300;
    color: #383838;
    background: #fdfdfd;
    border-radius: 2px;
    width: 60%;
} */
span.onsale {
    padding: 7px 14px!important;
    background: #da251d!important;
}
ins span.woocommerce-Price-amount.amount {
    font-weight: 400;
}
.wc-shortcode-loop .page-content-section {
    background-color: #242729;
}
.wc-shortcode-loop .page-content-section {
    padding: 34px 14%;
}

.wc-shortcode-loop .page-content-section p.price  , 
body.archive.post-type-archive.post-type-archive-product.woocommerce.woocommerce-page p.price  
{
    color: #ddd!important;
    font-weight: 200!important;
    text-transform: uppercase;
    text-align: center;
    border-top: 1px solid #ffffff33;
    padding-top: 15px;
    width: 70%;
    margin: auto;
}
/* shop */
body.archive.post-type-archive.post-type-archive-product.woocommerce.woocommerce-page p.price {
	 display: block!important;
}
body.archive.post-type-archive.post-type-archive-product.woocommerce.woocommerce-page span.price-description {
    display: none;
}
body.archive.post-type-archive.post-type-archive-product.woocommerce.woocommerce-page .price span.woocommerce-Price-amount.amount {
    font-weight: 100;
    margin-bottom: .5em;
    font-size: 14px;
    color: #ddd!important;
}
body.archive.post-type-archive.post-type-archive-product.woocommerce.woocommerce-page a.button.add_to_cart_button {
    font-size: 20px!important;
    font-weight: 300;
    color: #383838;
    background: #fdfdfd!important;
    border-radius: 2px;
    width: 60%;
    text-align: center;
    display: block;
    margin: auto;
}
/* end shop */
.wc-shortcode-loop .page-content-section p.price span {
    text-decoration: none;
}
.wc-shortcode-loop .page-content-section span.price-description {
    display: none;
}
.wc-shortcode-loop .page-content-section a.button.add_to_cart_button {
    font-size: larger;
    font-weight: 300;
    color: #383838;
    background: #fdfdfd;
    border-radius: 2px;
    width: 60%;
	    text-align: center;
	display: block;
	margin:auto;
}
.animatepulse .fa.fa-scissors {
   
    animation-direction: alternate;
    animation: thePulse infinite 3s ease-in-out;
}

@-keyframes thePulse {
   0% { box-shadow: 0 0 0 2px #0000; }
    50% {     box-shadow: 0 0 0 1px #86ab9d1f, 0 0 0 2px #ffffff40, 0 0 0 8px rgba(2, 2, 2, 0.25), 0 0 0 8px #5df5e033, 0 0 0 7px rgba(0, 255, 173, 0.24);}
    70% { box-shadow: 0 0 0 1px #86ab9d1f, 0 0 0 2px #ffffff40, 0 0 0 8px rgba(2, 2, 2, 0.25), 0 0 0 8px #7ff7e61a, 0 0 0 7px rgba(156, 247, 218, 0.11);}
    100% {   box-shadow: 0 0 0 1px #f000, 0 0 0 5px #ffffff00, 0 0 0 6px rgba(255, 4, 80, 0), 0 0 0 8px #ffffff00, 0 0 0 11px rgba(255, 4, 80, 0); }
}

@-moz-keyframes thePulse {
     0% { box-shadow: 0 0 0 2px #0000; }
    50% {     box-shadow: 0 0 0 1px #86ab9d1f, 0 0 0 2px #ffffff40, 0 0 0 8px rgba(2, 2, 2, 0.25), 0 0 0 8px #5df5e033, 0 0 0 7px rgba(0, 255, 173, 0.24);}
    70% { box-shadow: 0 0 0 1px #86ab9d1f, 0 0 0 2px #ffffff40, 0 0 0 8px rgba(2, 2, 2, 0.25), 0 0 0 8px #7ff7e61a, 0 0 0 7px rgba(156, 247, 218, 0.11);}
    100% {   box-shadow: 0 0 0 1px #f000, 0 0 0 5px #ffffff00, 0 0 0 6px rgba(255, 4, 80, 0), 0 0 0 8px #ffffff00, 0 0 0 11px rgba(255, 4, 80, 0); }

}

@-webkit-keyframes thePulse {
     0% { box-shadow: 0 0 0 2px #0000; }
    50% {     box-shadow: 0 0 0 1px #86ab9d1f, 0 0 0 2px #ffffff40, 0 0 0 8px rgba(2, 2, 2, 0.25), 0 0 0 8px #5df5e033, 0 0 0 7px rgba(0, 255, 173, 0.24);}
    70% { box-shadow: 0 0 0 1px #86ab9d1f, 0 0 0 2px #ffffff40, 0 0 0 8px rgba(2, 2, 2, 0.25), 0 0 0 8px #7ff7e61a, 0 0 0 7px rgba(156, 247, 218, 0.11);}
    100% {   box-shadow: 0 0 0 1px #f000, 0 0 0 5px #ffffff00, 0 0 0 6px rgba(255, 4, 80, 0), 0 0 0 8px #ffffff00, 0 0 0 11px rgba(255, 4, 80, 0); }

}
h2.woocommerce-loop-product__title{
    color: #ddd;
    font-weight: 200;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}
/* Overwrite the default to keep the scrollbar always visible */
/* ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    height: 2px!important;
} */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 9px;
}

::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.page-content-section {
    background-size: cover!important;
    background-repeat: no-repeat!important;
}
.black-background {
    background: #00000094;
    color: white;
    padding: 13px 48px;
    margin: 49px auto;
    border-radius: 1px;
    width: 73%;
}
body.woocommerce-cart.woocommerce-page .page-content-section {
    padding-top: 60px;
}	
body.woocommerce-cart.woocommerce-page  .quantity .qty {
    width: 100%;
    height: 4px;
    padding: 16px;
    text-align: center;
    background: transparent;
    border: 1px solid #727273;
    border-radius: 3px 0px 0px 4px;
        color: #ffffff;
    padding: 21px;
}
body.woocommerce-cart.woocommerce-page  .cart_totals h2 {
    color: white;
}
.product-quantity__container button.minus {
    position: absolute;
    height: 100%;
    border: 0;
    background: 0;
    font-size: 23px;
    display: flex;
}
.product-quantity__container {
    display: block;
    position: relative;
    width: 100%;
}
.product-quantity__container button.plus {
    position: absolute;
    right: 0px;
    top: 0;
    height: 100%;
    border: 0;
    background: 0;
    font-size: 23px;
    display: flex;
}
body.woocommerce-cart.woocommerce-page  td.product-quantity {
    width: 200px;
}
body.woocommerce-cart.woocommerce-page table.cart img {
	width: 100%;
}
body.woocommerce-cart.woocommerce-page td.product-thumbnail {
    width: 126px;
	 min-width: 126px!important;
}
body.woocommerce-cart.woocommerce-page .page-content-section{
	background: url(http://vuniks.com/vuniks/wp-content/uploads/2019/05/woo-single-prodect-background.jpg);
}
body.woocommerce-cart.woocommerce-page table.shop_table td ,
body.woocommerce-cart.woocommerce-page .woocommerce table.shop_table 
{
	    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
body.woocommerce-cart.woocommerce-page table.shop_table a {
	color: white;
}
body.woocommerce-cart.woocommerce-page .woocommerce table.shop_table  {
	border: 1px solid rgba(255, 255, 255, 0.2);
}
body.woocommerce-cart.woocommerce-page table.shop_table{
	    color: white;
}
a.checkout-button.button.alt.wc-forward {
    font-weight: 200;
    border-radius: 1px;
}
.woocommerce-cart .woocommerce , body.woocommerce-checkout.woocommerce-page .woocommerce{
    padding: 0px 4%;
}
 body.woocommerce-checkout.woocommerce-page .woocommerce{
	 padding-top: 45px;
 }
 body.woocommerce-checkout.woocommerce-page  .woocommerce-billing-fields input {
    padding: 9px;
    border-radius: 1px;
    border: 1px solid #bfbfbf;
	margin: 4px 0;
}
.select2-container--default .select2-selection--single {
    height: 35px;
    border-radius: 1px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	    line-height: 35px;
}
 body.woocommerce-checkout.woocommerce-page h1 ,
 body.woocommerce-checkout.woocommerce-page h2 ,
 body.woocommerce-checkout.woocommerce-page h3 ,
 body.woocommerce-checkout.woocommerce-page h4 ,
 body.woocommerce-checkout.woocommerce-page h5 ,
 body.woocommerce-checkout.woocommerce-page label ,
 body.woocommerce-checkout.woocommerce-page span ,
 body.woocommerce-checkout.woocommerce-page th ,
 body.woocommerce-checkout.woocommerce-page td ,
 body.woocommerce-checkout.woocommerce-page p {
	 color:black;
 }
.woocommerce-cart .cart-collaterals .cart_totals tr th{
	    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.woocommerce .cart .button[name="update_cart"] , .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled]  {
    font-weight: 200;
    padding: 15px 29px;
	border-radius:1px;
}
button#place_order {
    font-weight: 300;
    padding: 17px 21px;
}

div#filter_product {
    display: inline-block;
    padding: 8px;
    width: 100%;
	    color: white;
		    margin-top: 32px;

}
html body div.wrap_content {
    padding-left: 14%!important;
    padding-right: 14%!important;
}
p.woocommerce-result-count, form.woocommerce-ordering {
    margin: 0!important;
}
select.orderby {
    color: black;
    padding: 5px;
    border-radius: 1px;
    border: 1px solid white;
}
tr.woocommerce-cart-form__cart-item.cart_item .product-quantity__container input[type=number]::-webkit-inner-spin-button, 
tr.woocommerce-cart-form__cart-item.cart_item .product-quantity__container input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.circle-animeation .circle__box {
  width: 61px;
    height: 61px;
    margin: 24px auto;
    position: fixed;
       bottom: -15px;
    right: 82px;
    z-index: 999;
}

.circle-animeation .circle__wrapper {
   width: 32px;
  height: 60px;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.circle-animeation .circle__wrapper--right {
  right: 0;
}

.circle-animeation .circle__wrapper--left {
  left: 0;
}

.circle-animeation .circle__whole {
   width: 60px;
  height: 60px;
  border: 2px solid transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  transform: rotate(-135deg);
}

.circle-animeation .circle__right {
   border-top: 2px solid #fd0000;
  border-right: 2px solid #fd0000;
  right: 1px;
  animation: circleRight 1s linear forwards;
}

.circle-animeation .circle__left {
 border-bottom: 2px solid #fd0000;
  border-left: 2px solid #fd0000;
  left: 1px;
  animation: circleLeft 1s linear forwards;
}
.circle-animeation  i.fa.fa-scissors, .circle-animeation  .circle__box {
    z-index: 999999;
}
@keyframes circleRight {
    0% {
    transform: rotate(-135deg);
  }
  50%,
  100% {
    transform: rotate(45deg);
  }
}

@keyframes circleLeft {
  0%,
  50% {
    transform: rotate(-135deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
.circle-animeation i.fa.fa-scissors, .circle-animeation .circle__box {
    z-index: 999999;
}

.circle__box:after {
    content: "You can click it for promocode";
    color: white;
    position: relative;
    font-size: small;
    top: -28px;
    right: 110%;
    width: 242px;
    display: block;
}
.circle-animeation #curvedarrow {
   width: 0;
    position: fixed;
    bottom: 85px;
    right: 224px;
    z-index: 99999;
    height: 0;
    border-top: 18px solid transparent;
    border-right: 18px solid #ff0000;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(-15deg);
}
#curvedarrow:after {
    content: "";
    position: absolute;
    border: 0 solid transparent;
    border-top: 4px solid #ff0000;
    border-radius: 1px 0 0 0;
       top: -166px;
    left: -368px;
    width: 380px;
    height: 159px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}



/* Change WC Acct Page Column Widths */
@media only screen and (min-width: 769px) {
  .woocommerce-account .woocommerce-MyAccount-navigation {
    width: 22%;
	position: sticky;
    top: 76px;
  }
  .woocommerce-account .woocommerce-MyAccount-content { 
    width: 75%;
	margin-top: 21px;	
  }
}
/* Style WC Account Endpoint Links */
nav.woocommerce-MyAccount-navigation ul {
  list-style-type: none;
  padding-left: 0;
  max-width:200px;
  font-size: 17px;
  line-height: 26px;
}
nav.woocommerce-MyAccount-navigation ul li a{
	  padding: 8px 20px;
	  display:block;
}
nav.woocommerce-MyAccount-navigation ul li {

  background-color: rgba(0,0,0,0.05);
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
nav.woocommerce-MyAccount-navigation ul li.is-active {
  background-color: rgba(0,0,0,0.1);
}
nav.woocommerce-MyAccount-navigation ul li.is-active a {
  color: rgba(0,0,0,0.8); cursor: default;
}
nav.woocommerce-MyAccount-navigation ul li.is-active:after {
  content: "";
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-left: 14px solid rgba(0,0,0,0.1);
    border-bottom: 20px solid transparent;
    float: right;
    margin-right: -14px;
    margin-top: -41px;
}
nav.woocommerce-MyAccount-navigation ul li:not(.is-active):hover {
  background-color: rgba(0,0,0,0.07);
}
nav.woocommerce-MyAccount-navigation ul li:not(.is-active):hover:after { 
  content: "";
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 14px solid rgba(0,0,0,0.07);
  border-bottom: 20px solid transparent;
  float: right;
   margin-right: -14px;
    margin-top: -41px;
}